@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --bg-red: #F03C42;
    --bg-purple: #222374;
    --bg-grey: #CCCCCC;
    --bg-whith: #FFFFFF;
    --bg-black: #000000;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;      
    font-family: 'open sans', 'sans serif';       
}

#main-menu div {
    height: 100px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin: auto;   
    padding: 0 120px;
    max-width: 1200px;                                   
}

.container-social-network {
    font-size: 14px;
}

.container-social-network img {
    margin-right: 10px;
}

h1 {
    font-size: 18px;    
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

header {
    background-color: var(--bg-red);
    color: var(--bg-whith);    
    align-items: center;
    flex-direction: column;    
}

#about-us {
    background-color: var(--bg-purple);
    height: 418px;       
}

.card-container-about-us {
    background-color: var(--bg-grey);
    border-radius: 8px;
    margin: 20px 0;
}

h2 {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;

}

h3 {
    font-size: 20px;    
    padding: 20px 20px;
}

p {
    font-size: 14px;
    padding: 0 20px 20px;
}

#modalities {
    background-color: var(--bg-whith);
    height: 880px;
    color: var(--bg-red);
}

.card-container-modalities {
    background-color: var(--bg-purple);
    border-radius: 8px;
    margin: 20px 0;
    color: var(--bg-whith);
}

#company {
    background-color: var(--bg-black);
    height: 274px;    
    color: var(--bg-whith);
    display: flex;
    flex-direction: column;
    align-items: center;                    
}

.card-company-instagram {
    margin-top: 60px;
    align-items: center;    
    display: flex;
    font-size: 14px;    
}

.card-company-instagram img {
    padding-right: 10px;   
}

.card-company-twitter {
    margin-top: 20px;
    align-items: center;    
    display: flex;
    font-size: 14px;    
}

.card-company-twitter img {
    padding-right: 17px;   
}

.card-company-rights {
    padding-top: 36px;
    font-size: 14px;    
}

.card-company-rights p {
    padding: 0;        
}

.card-company-address {
    padding-bottom: 60px;
    font-size: 14px;
}

.card-company-address p {    
    padding: 0;
}
